* {
  box-sizing: border-box;
  padding: 0 auto;
  margin: 0 auto;
}
/*Style for Body*/
body {
  font-family: "Forum", cursive;
  background-color: whitesmoke;
}
/*Style for Jumbotron*/
.jumbotron {
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: center;
  background-color: lightslategray;
  background: url("../images/jumbotronbg.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
}
/*Style for text*/
h1 {
  font-weight: bolder;
  font-size: 50px;
}
h2 {
  font-size: 25px;
  margin: auto;
  padding-top: 1rem;
  font-weight: bold;
}
h3 {
  font-weight: bold;
}
h4 {
  font-weight: bold;
  padding: 0.5rem 1rem;
}
p {
  color: black;
  text-align: left;
  display: block;
  font-display: left;
}
/*Style for main tag*/
main {
  padding-bottom: 1rem;
}
/*Style for search column*/
#add-city {
  padding-top: auto;
}
#searchColumn {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px 5px 5px 5px;
  border-color: lightgray;
  display: inline;
}
#city-input {
  border-color: lightblue;
  padding: auto;
}
.city-item-list {
  margin: 0.5rem;
  display: block;
  border-style: solid;
  border-width: 1px;
}
/*Style for current weather display*/
.div.display-weather-el {
  background-color: transparent;
  border-style: solid;
  border-color: transparent;
  border-radius: 5px 5px 5px 5px;
  border-width: 1px;
  padding: 1rem 1rem;
}

.card {
  background-color: transparent;
  border-style: none;
}
/*Style for forecast cards*/

.card-title {
  font-weight: 600;
}
.card-forecast {
  background-color: lightblue;
  color: black;
  border-style: solid;
  border-color: lightgray;
  border-radius: 5px 5px 5px 5px;
  border-width: 1px;
  width: 8rem;
  height: 9rem;
  padding: 0 auto;
}
/*Style for btns and input*/
#add-city-b:hover {
  cursor: pointer;
  background-color: lightgoldenrodyellow;
}
.city-btn {
  border-radius: 10px 10px 10px 10px;
  border-color: black;
  border-width: 1px;
  width: 150px;
  background-color: lightblue;
  font-weight: 600;
}
#add-city-btn {
  width: auto;
  border-radius: 0%;
}
#add-city {
  justify-content: center;
  padding: 0.2rem;
}
.city-btn:hover {
  cursor: pointer;
  background-color: lightgoldenrodyellow;
}

@media all and (max-width: 950px) and (min-width: 300px) {
  h1 {
    font-size: 40px;
  }
  #city-input {
    width: fit-content;
  }
  #searchColumn {
    width: fit-content;
  }
}
