* {
  box-sizing: border-box;
  padding: 0 auto;
  margin: 0 auto;
}
/*Style for Body*/
body {
  font-family: "Quicksand", sans-serif;
  background-color: lightslategray;
}
/*Style for Jumbotron*/
.jumbotron {
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: center;
  background-color: lightslategray;
  background: url("../images/jumbotronbg.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
}
#add-city {
  padding-top: 0.1rem;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
  margin: auto;
  padding-bottom: 1rem;
}
#searchColumn {
  background-color: whitesmoke;
}
#city-input {
  display: inline;
  margin: auto;
  border-color: lightskyblue;
}
.city-item-list {
  margin: 0.5rem;
  display: block;
  border-style: solid;
  border-width: 1px;
  align-items: center;
  text-align: center;
}
p {
  color: black;
  align-content: flex-start;
}
div.display-weather-el {
  background-color: lightblue;
  justify-content: left;
  border-style: solid;
  border-color: black;
  border-radius: 5px 5px 5px 5px;
  border-width: 1px;
  padding: 1rem 1rem;
}

.card-forecast {
  background-color: lightblue;
  color: black;
  border-style: solid;
  border-color: black;
  border-radius: 5px 5px 5px 5px;
  border-width: 1px;
  width: 8rem;
  height: 9rem;
}
#add-city-b:hover {
  cursor: pointer;
  background-color: lightgoldenrodyellow;
}
.city-btn {
  border-radius: 10px 10px 10px 10px;
  border-color: black;
  border-width: 1px;
}
.city-btn:hover {
  cursor: pointer;
  background-color: lightgoldenrodyellow;
}
